body{
    align-items: center;
    justify-content: center;
    display: flex;
}

.card .input input{
    border: 1px solid black;
    outline: none;
    width: 500px;
    height: 10vh;
    border-radius: 6px;
    margin-bottom: 30px;
}

.bookmarks button{
    width: 90px;
    height: 90px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;


}

.bookmarks{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}